<!-- Empty wishlist -->
<div class="container text-center" *ngIf="eMsg">
    <div class="row">
        <div class="col">
            <img src="https://cdn.dribbble.com/users/1753953/screenshots/3818675/animasi-emptystate.gif" alt="">
            <h3 class="text-warning">Wishlist is empty</h3>
            <br>
        </div>
    </div>
</div>
<!-- Empty wishlist end -->  
<!-- Section start -->
<section class="py-5">
    <div class="container px-4 px-lg-5 mt-5">
        <div class="row gx-4 gx-lg-5 row-cols-2 row-cols-md-3 row-cols-xl-4 justify-content-center">
            <div class="col mb-5" *ngFor="let product of wishlist">
                <div class="card h-100">
                    <!-- Product image-->
                    <img class="card-img-top" src={{product.image}} alt="..." style="width:200px"/>
                    <!-- Product details-->
                    <div class="card-body p-4">
                        <div class="text-center">
                            <!-- Product name-->
                            <h5 class="fw-bolder">{{product.name}}</h5>
                            <h5 class="fw-bolder">{{product.category}}</h5>
                            <!-- Product price-->
                            ${{product.price}}
                        </div>
                    </div>
                    <!-- Product actions-->
                    <div class="card-footer p-4 pt-0 border-top-0 bg-transparent">
                        <div class="text-center">
                            <button class="btn btn-outline-danger" (click)="deletewish(product)"><i class="fa-solid fa-trash"></i></button>
                            <button class="btn btn-outline-warning" (click)="addtocart(product)"><i class="fa-solid fa-wallet"></i></button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!--Body section end-->
