<div class="container">
    <div class="row">
        <div class="col">
            <h1 class="text-center mt-5 mb-4">ABOUT US</h1>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit.
         Ipsa explicabo autem, deserunt eaque, iusto soluta eligendi
             eveniet quod quae nihil excepturi consectetur reprehenderit
             nesciunt harum inventore blanditiis, commodi labore illum ipsam.
              Architecto, molestiae id delectus nam iste dolor omnis? Quidem 
             explicabo quam distinctio consectetur, iste animi sapiente laborum
              non minus, doloremque officia aliquam. Officia quis,
              corporis alias dignissimos, perspiciatis nobis, hic facilis
                  numquam molestiae iusto esse illum temporibus ullam autem iure
                  quam commodi. Iusto illum voluptatum maiores, possimus fugiat 
                  quod modi, rem architecto incidunt recusandae molestias
             aspernatur earum, quo facilis. Similique fuga possimus nobis
               natus reiciendis commodi eos sint explicabo minus officia
                  blanditiis quo vitae nostrum vel aspernatur molestiae, 
                 consectetur nesciunt. Quis est necessitatibus a? Deserunt 
                 recusandae magni harum! Illum quam libero inventore.
                 Nisi possimus molestias id, inventore iste sapiente enim
                  culpa quos ullam dolor ducimus, maiores mollitia dolores
                   ipsa vitae excepturi odit atque? Laborum ex placeat dignissimos
                    labore non?</p>
        </div>
    </div>
</div>

<!-- Gallery section -->
<!-- bootstrap image gallery 1 -->
<div class="container-fluid">
    <h1 class="text-center mt-5 mb-3">GALLERY</h1>
  
    <div class="d-flex flex-wrap justify-content-center">
      <div class="d-flex flex-column">
        <img class="img-fluid" src="https://wallpapercave.com/wp/wp1874159.jpg">
        <img class="img-fluid" src="https://wallpapercave.com/wp/wp1874155.jpg">
      </div>
  
      <div class="d-flex flex-row">
        <img class="img-fluid" src="https://wallpapercave.com/wp/wp2038303.jpg" width="50%">
        <img class="img-fluid" src="https://wallpapercave.com/wp/wp1874182.jpg" width="50%">
      </div>
  
      <div class="d-flex flex-column">
        <img class="img-fluid" src="https://wallpapercave.com/wp/wp1874177.jpg">
        <img class="img-fluid" src="http://www.nicewallpapers.net/background/bar-restaurant.jpg">
      </div>
  
      <div class="d-flex flex-column">
        <img class="img-fluid" src="https://ae01.alicdn.com/kf/HTB18pAXa6rguuRjy0Feq6xcbFXan/Beibehang-Custom-wallpaper-wood-shading-retro-coffee-shop-label-background-wall-restaurant-mural-TV-background-wall.jpg">
        <img class="img-fluid" src="https://www.wallpaperup.com/uploads/wallpapers/2015/07/24/761420/c0216adae91fa2889b27c73853b9ffee.jpg">
      </div>
  
      <div class="d-flex flex-column">
        <img class="img-fluid" src="https://wallpapercave.com/wp/wp1874190.jpg">
        <img class="img-fluid" src="https://wallpaperaccess.com/full/261577.jpg">
      </div>
    </div>
  </div>