<footer class="footer mt-5"  style="background-color: #255a5b;z-index: 1;">
    <div class="container">
        <div class="row">
            <div class="col-lg-6 h-100 text-center text-lg-start my-auto">
                <ul class="list-inline mb-2">
                    <li class="list-inline-item "><a href="#!" class="text-light">About</a></li>
                    <li class="list-inline-item">⋅</li>
                    <li class="list-inline-item"><a href="#!" class="text-light">Contact</a></li>
                    <li class="list-inline-item">⋅</li>
                    <li class="list-inline-item"><a href="#!" class="text-light">Terms of Use</a></li>
                    <li class="list-inline-item">⋅</li>
                    <li class="list-inline-item"><a href="#!" class="text-light">Privacy Policy</a></li>
                </ul>
                <p class="text-muted small mb-4 mb-lg-0 text-light">&copy; Your Website 2023. All Rights Reserved.</p>
            </div>
            <div class="col-lg-6 h-100 text-center text-lg-end my-auto">
                <ul class="list-inline mb-0">
                    <li class="list-inline-item me-4">
                        <a href="#!"><i class="fa-brands fa-facebook fs-3 text-light"></i></a>
                    </li>
                    <li class="list-inline-item me-4">
                        <a href="#!"><i class="fa-brands fa-twitter fs-3 text-light"></i></a>
                    </li>
                    <li class="list-inline-item">
                        <a href="#!"><i class="fa-brands fa-instagram fs-3 text-light"></i></a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</footer>
